        
            <div class="col-lg-12">
              <div class="card card-outline-info">
               
				<div class="card-header">
                                <h4 class="mb-0 text-white">{{type}}</h4>
                </div>
                <div class="card-body">
                  <form>
                    
                    <div class="row">                     
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Name</label>
                          <input type="text" class="form-control" id="roomcategory_name_group" value="{{a_roomcategory_name_group}}" />
                        </div>
                      </div>					  
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label>Description</label>
                          <div class="form-group">                           
                            <textarea class="form-control"  id="roomcategory_description"  rows="5">{{a_roomcategory_description}}</textarea>
                          </div>
                        </div>
                      </div>
                    </div>
					
                    <input type="button" class="btn btn-primary pull-right" value="Save" onclick="test()" />
					<input type="button" class="btn btn-primary pull-right btnCancel" value="Cancel"  />
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
		
<script>
	function test(){
		//alert("asdfsadfasdf");
		execData('master/roomcategory/crud',{
			'roomcategory_id_group': $('#roomcategory_id_group').val(),
			'roomcategory_name_group': $('#roomcategory_name_group').val(),
			'roomcategory_description':$('#roomcategory_description').val()
		})
	}
	
	$(document).ready(function() {
		
		
		
    });

	

	
  </script>