##########################################################
#
# This is a sample flask.cfg for developing the Flask Recipe App.
#
##########################################################
import os


# grab the folder of the top-level directory of this project
BASEDIR = os.path.abspath(os.path.dirname(__file__))
TOP_LEVEL_DIR = os.path.abspath(os.curdir)

# Update later by using a random number generator and moving
# the actual key outside of the source code under version control
SECRET_KEY = '@d1t_Cut3'
WTF_CSRF_ENABLED = True
DEBUG = True

DATABASE_FILE = 'data.sqlite'

POSTGRES_DEFAULT_USER = 'postgres'
POSTGRES_USER = 'postgres'
POSTGRES_PASSWORD = '123456'
POSTGRES_DB = 'db_taswil_flask'
POSTGRES_HOST = '192.168.56.109'
POSTGRES_PORT = '5432'


# Bcrypt algorithm hashing rounds
BCRYPT_LOG_ROUNDS = 15

# Email settings
MAIL_SERVER = 'smtp'
MAIL_PORT = 1025
MAIL_USE_TLS = False
MAIL_USE_SSL = False
MAIL_USERNAME = 'support@localhost'
MAIL_PASSWORD = 'support'
MAIL_DEFAULT_SENDER = 'support@localhost'

# Uploads
UPLOADS_DEFAULT_DEST = TOP_LEVEL_DIR + '/project/static/img/'
UPLOADS_DEFAULT_URL = 'http://localhost:5000/static/img/'

UPLOADED_IMAGES_DEST = TOP_LEVEL_DIR + '/project/static/img/'
UPLOADED_IMAGES_URL = 'http://localhost:5000/static/img/'

ALLOWED_EXTENSIONS = {'txt', 'pdf', 'png', 'jpg', 'jpeg', 'gif','mp4','mov','doc','xls','xlsx','docx'}

ALLOWED_EXTENSIONS_ZIP = {'zip','kmz','kml'}