<div class="col-12">
	<div class="card">
		<div class="card-body">
			<h4 class="card-title">List</h4>
			
			<div class="table-responsive mt-4">

				<table id="example23" class="display nowrap table table-hover table-striped table-bordered"
					cellspacing="0" width="100%">
					<thead>
						<tr>
							<th style="text-align: center;">Kecamatan</th>
							<th style="text-align: center;">Desa</th>
							<th style="text-align: center;">Jumlah Peta Klaim</th>
							<th style="text-align: center;">Set Peta Utama</th>

						</tr>
					</thead>
					<tbody>
					{% for loopdata in loopdatas %}
						<tr>
						  <td>{{loopdata.kecamatan}}</td>
						  <td>{{loopdata.desa}}</td>
						  <td style="text-align: center;">{{loopdata.jumlah}}</td>
						   {% if loopdata.jumlah > 0 %} 
								 <td  style="text-align: center;"><i class="fas fa-check"></i></td>
							{% else %}
								 <td></td>
							{% endif %}
						  
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>

</div>

