

<style>.badge-fs{font-size: 16px !important;}</style>


<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h4>Daftar Batas Desa</h4>
        </div>
        <div class="card-body">
            <div>
                <div class="form-group row s-filter">
                    <label for="password_active" class="col-sm-2 col-form-label">Provinsi</label>
                    <div class="col-sm-8">
                        <select id="filter_provinsi" class="form-control">

                            <option value="" selected disabled>--Pilih Provinsi--</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row s-filter">
                    <label for="password_baru" class="col-sm-2 col-form-label">Kabupaten/Kota</label>
                    <div class="col-sm-8">
                        <select id="filter_kabkota" class="form-control">
                            <option value="" selected disabled>--Pilih Kabupaten/Kota--</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row s-filter">
                    <label for="password_konfirmasi" class="col-sm-2 col-form-label">Kecamatan</label>
                    <div class="col-sm-8">
                        <select id="filter_kecamatan" class="form-control">
                            <option value="" selected disabled>--Pilih Kecamatan--</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row s-filter">
                    <label for="password_konfirmasi" class="col-sm-2 col-form-label">Desa</label>
                    <div class="col-sm-8">
                        <select id="filter_desa" class="form-control">
                            <option value="" selected disabled>--Pilih Desa--</option>
                        </select>
                    </div>
                </div>
            </div>
            <div>
                <div class="mb-4 d-flex flex-row-reverse">
                    <div class="d-flex flex-column">
                        <button onclick="tambahBatasDesa()" id="btnInsert" class="btn btn-primary pull-right tp-enabled"
                            data-toggle="tooltip" data-placement="left" title="" disabled><i
                                class="mdi mdi-plus"></i>Tambah Batas
                            Desa</button>
                        <small style="max-width: 210;">* <strong>Pilih</strong> filter sampai <strong>level
                                desa</strong> untuk mengaktifkan tombol</small>
                    </div>
                </div>
                <table id="table-data-batas-desa" class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nama Desa</th>
                            <th>Peta Utama</th>
                            <th>Di Upload Oleh</th>
                            <th>Tanggal Upload</th>
                            <th>Di Edit Oleh</th>
                            <th>Tanggal Edit</th>
                            <th>Aksi</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="top-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-top">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="topModalLabel">Konfirmasi</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <h5>Apakah anda yakin akan menghapus data tersebut ?</h5>
    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Kembali</button>
                    <button type="button" class="btn btn-danger" id='btnDelete'>Ya</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <div id="top-modal-c" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-top">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="topModalLabel">Konfirmasi</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <h5>Apakah anda yakin akan menjadikan peta tersebut sebagai peta utama ?</h5>
    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Kembali</button>
                    <button type="button" class="btn btn-success" id='setmainmap'>Ya</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>


<script>
    var idd=""
    var mainMapIdWil = ""
    var fSelectedIdWilayah = null
    var tblBatasdesa = $("#table-data-batas-desa")
    // let aa= 0
    function getSelectedIdWilayah() {
        let selectorFilter = ["filter_desa", "filter_kecamatan", "filter_kabkota", "filter_provinsi"]
        let i = 0
        fSelectedIdWilayah = null
        while (fSelectedIdWilayah == null) {
            fSelectedIdWilayah = $("#" + selectorFilter[i]).val()
            // console.log(fSelectedIdWilayah, "#" + selectorFilter[i])
            i++
            if (i > selectorFilter.length ) {
                fSelectedIdWilayah = ""
            }

        }
        // console.log(aa++)
        if (fSelectedIdWilayah.length >= 13) {
            $("#btnInsert").attr("disabled", false)
        } else {
            $("#btnInsert").attr("disabled", true)
        }
        if(fSelectedIdWilayah.length !=0){
            generateTableDaftarPeta()
        }
    }
    function setMainMap(obj){
        // console.log(obj)
        idd = $(obj).attr('dataid');
        mainMapIdWil =  $(obj).attr('dataidwilayah');
        $("#top-modal-c").modal('show');
    }
   
    function setFilter() {
        var initialValue = '{{a_user_id_wilayah}}'
        // console.log(initialValue, lenIdWil)
        // console.log(initialValue)
        // let lenIdWil = 
        if (initialValue.length >= 13) {
            $("#btnInsert").attr("disabled", false)
            fSelectedIdWilayah = initialValue;
            generateTableDaftarPeta()
        }else if(initialValue.length == 0){
            fSelectedIdWilayah = initialValue;
            generateTableDaftarPeta()
        }
        let lenIdWil = initialValue.length;
        // return
        $(".s-filter").hide()
        switch (lenIdWil) {
            case 0:
            case LEN_ID_PROVINSI:
                $("#filter_provinsi").parent().parent().show()
                generateDropdownProvinsi({
                    selector: "#filter_provinsi", initialValue: initialValue.substring(0, 2), onChangeEvent: function (val) {
                        // getSelectedIdWilayah()
                        generateDropdownKabKota({ selector: "#filter_kabkota", parentValue: val, onComplete: () => { getSelectedIdWilayah() } })
                    }
                })
            case LEN_ID_KABKOTA:
                $("#filter_kabkota").parent().parent().show()
                generateDropdownKabKota({
                    selector: "#filter_kabkota", initialValue: initialValue.substring(0, 5), onChangeEvent: function (val) {
                        // getSelectedIdWilayah()
                        generateDropdownKecamatan({ selector: "#filter_kecamatan", parentValue: val, onComplete: () => { getSelectedIdWilayah() } })
                    }, initChild: true,
                })
            case LEN_ID_KECAMATAN:
                $("#filter_kecamatan").parent().parent().show()
                generateDropdownKecamatan({
                    selector: "#filter_kecamatan", initialValue: initialValue.substring(0, 8), onChangeEvent: function (val) {
                        // getSelectedIdWilayah()
                        generateDropdownDesa({ selector: "#filter_desa", parentValue: val, onComplete: () => { getSelectedIdWilayah() } })
                    }, initChild: true
                })
            case LEN_ID_DESA:
                $("#filter_desa").parent().parent().show()
                generateDropdownDesa({ selector: "#filter_desa", initialValue: initialValue.substring(0, 13), onChangeEvent: () => { getSelectedIdWilayah() } })



                break;

            default:
                break;
        }
    }

    function tambahBatasDesa() {
        if (fSelectedIdWilayah.length >= 13) {
            execURL("/transaction/klaimbatasdesa/editor?id_wilayah=" + fSelectedIdWilayah);
        }
    }
    function initCom(){
        $('#table-data-batas-desa').on('click', '.btnDeleteForm', function () {
			idd = $(this).attr('dataid');
			// console.log(idd);
		});
    }
    function generateTableDaftarPeta() {
        // $("#table-data-batas-desa").DataTable().destroy()
        // $("#table-data-batas-desa").replaceWith(tblBatasdesa)
        let paramss= ""
        if(fSelectedIdWilayah.length !=0) paramss +="?id_wilayah="+fSelectedIdWilayah
        generateDataTable('#table-data-batas-desa', "transaction/klaimbatasdesa/data"+paramss, [
            { "data": "id" , "visible": false},
            // { "data": "id_desa" }, 
            { "data": "nama_desa" }, 
            { "data": "peta_utama" }, 
            { "data": "uploadby" }, 
            { "data": "uploadat" }, 
            { "data": "modifiedby" }, 
            { "data": "modifiedat" }, 
            { "data": "btn", "width": "50px", "orderable": false }
        ],initCom)
    }
   
    viewData = function(obj){
        let id = $(obj).attr("dataid")
        let idwilayah = $(obj).attr("dataidwilayah")
        // console.log(id,idwilayah)
        execURL("transaction/klaimbatasdesa/editor?id_wilayah=" +idwilayah + "&gid=" + id)
    }
    $(document).ready(function () {
        setFilter()
        $(".tp-enabled").tooltip('enable')
        $('#btnDelete').bind('click', function () {
			//alert(idd);
			$("#top-modal").on("hidden.bs.modal", function () {
				execData('transaction/klaimbatasdesa/delete', {
					'id': idd
				},()=>{
                    generateTableDaftarPeta()
                })
			})
			$('#top-modal').modal('hide');


		});
        $("#top-modal-c").on("hidden.bs.modal", function () {
				execData('transaction/klaimbatasdesa/setmainmap', {
					'id': idd,
                    'id_wilayah':mainMapIdWil
				},()=>{
                    generateTableDaftarPeta()
                })
			})
        $("#setmainmap").bind('click',function(){
          
			$('#top-modal-c').modal('hide');
        })
    })
</script>