

<!-- Leaflet -->
    <link rel="stylesheet" href="static/leaflet/leaflet.css">
    <link rel="stylesheet" href="static/leaflet/plugin/leaflet-controllayerstree.css">
 <link rel="stylesheet" href="static/leaflet/plugin/leaflet-fullscreen.min.css">


<style>
    .badge-fs {
        font-size: 16px !important;
    }
	input.leaflet-control-layers-selector {
        opacity: 1 !important;
        position: static !important;
        left: 2px;
        margin-right: 4px;
    }
	#map{
        z-index: 1;
    }
</style>


<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h4>Daftar Batas Desa</h4>
        </div>
        <div class="card-body">
            <div>
                <div class="form-group row s-filter">
                    <label for="password_active" class="col-sm-2 col-form-label">Provinsi</label>
                    <div class="col-sm-8">
                        <select id="filter_provinsi" class="form-control">

                            <option value="" selected disabled>--Pilih Provinsi--</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row s-filter">
                    <label for="password_baru" class="col-sm-2 col-form-label">Kabupaten/Kota</label>
                    <div class="col-sm-8">
                        <select id="filter_kabkota" class="form-control">
                            <option value="" selected disabled>--Pilih Kabupaten/Kota--</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row s-filter">
                    <label for="password_konfirmasi" class="col-sm-2 col-form-label">Kecamatan</label>
                    <div class="col-sm-8">
                        <select id="filter_kecamatan" class="form-control">
                            <option value="" selected disabled>--Pilih Kecamatan--</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row s-filter">
                    <label for="password_konfirmasi" class="col-sm-2 col-form-label">Desa</label>
                    <div class="col-sm-8">
                        <select id="filter_desa" class="form-control">
                            <option value="" selected disabled>--Pilih Desa--</option>
                        </select>
                    </div>
                </div>
            </div>
            <div>
                <div class="mb-4 d-flex flex-row-reverse">
                    <div class="d-flex flex-column">
                        <button onclick="resetFilter()" class="btn btn-primary pull-right tp-enabled"
                            data-toggle="tooltip" data-placement="left" title=""><i class="mdi mdi-restart"></i>Reset
                            Filter</button>

                    </div>
                </div>
				
					<div id="map" style="width: 100%;height: 150vh;">
					</div>
					<div class="mb-4 d-flex flex-row-reverse">
                    <div class="d-flex flex-column">
				 <button  onclick="testtt()" class="btn btn-primary pull-right tp-enabled"
                            data-toggle="tooltip" data-placement="left" title="">Save as Shapefile</button>
					 </div>
                </div>
                <div id="screens"></div>
            </div>
        </div>
    </div>
    
</div>


	

    <script src="static/leaflet/leaflet-src.js"></script>
   
		
    <script src="static/leaflet/plugin/leaflet-controllayerstree.js"></script>
    <script src="static/leaflet/plugin/leaflet-fullscreen.min.js"></script>
   
   
<script src="static/leaflet/esri-leaflet.js"></script>

 <script src="static/leaflet/leaflet-simple-map-screenshoter.js"></script>   

<script src="static/jszip.js"></script>
<script src="static/leaflet/shp_write.js"></script>

 <!--<script src="static/leaflet/shp_write.js"></script>  -->

<script>
    var idd = ""
    var mainMapIdWil = ""
    var fSelectedIdWilayah = null
    var tblBatasdesa = $("#table-data-batas-desa")
    // let aa= 0
    function getSelectedIdWilayah() {
        let selectorFilter = ["filter_desa", "filter_kecamatan", "filter_kabkota", "filter_provinsi"]
        let i = 0
        fSelectedIdWilayah = null
        while (fSelectedIdWilayah == null) {
            fSelectedIdWilayah = $("#" + selectorFilter[i]).val()
            // console.log(fSelectedIdWilayah, "#" + selectorFilter[i])
            i++
            if (i > selectorFilter.length) {
                fSelectedIdWilayah = ""
            }

        }
        // console.log(aa++)
        if (fSelectedIdWilayah.length == LEN_ID_DESA) {
            $("#btnInsert").attr("disabled", false)
        } else {
            $("#btnInsert").attr("disabled", true)
        }
        if (fSelectedIdWilayah.length != 0) {
             generateTableMonitoring()
        }
    }

    resetFilter = function () {
        let initialValue = '{{a_user_id_wilayah}}'
        fSelectedIdWilayah = initialValue;
        switch (initialValue.length) {
            case 0:
                $("#filter_provinsi").val('')
                $("#filter_kabkota").val('')
                $("#filter_kecamatan").val('')
                $("#filter_desa").val('')
                break;
            case LEN_ID_PROVINSI:
                $("#filter_provinsi").val(initialValue)
                $("#filter_kabkota").val('')
                $("#filter_kecamatan").val('')
                $("#filter_desa").val('')
                break;
            case LEN_ID_KABKOTA:
                $("#filter_kabkota").val(initialValue)
                $("#filter_kecamatan").val('')
                $("#filter_desa").val('')
                break;
            case LEN_ID_KECAMATAN:
                $("#filter_kecamatan").val(initialValue)
                $("#filter_desa").val('')
                break;


            default:
                break;
        }
         generateTableMonitoring()
    }

    function setFilter() {
        let initialValue = '{{a_user_id_wilayah}}'
        // console.log(initialValue, lenIdWil)
        // console.log(initialValue)
        // let lenIdWil = 
        if (initialValue.length == LEN_ID_DESA) {
            $("#btnInsert").attr("disabled", false)
            fSelectedIdWilayah = initialValue;
             generateTableMonitoring()
        } else if (initialValue.length == 0) {
            fSelectedIdWilayah = initialValue;
             generateTableMonitoring()
        }
        let lenIdWil = initialValue.length;
        // return
        //console.log(initialValue, lenIdWil)
        $(".s-filter").hide()
        switch (lenIdWil) {
            case 0:
            case LEN_ID_PROVINSI:
                $("#filter_provinsi").parent().parent().show()
                generateDropdownProvinsi({
                    selector: "#filter_provinsi", initialValue: initialValue.substring(0, 2), onChangeEvent: function (val) {
                        // getSelectedIdWilayah()
                        generateDropdownKabKota({ selector: "#filter_kabkota", parentValue: val, onComplete: () => { getSelectedIdWilayah() } })
                    }
                })
            case LEN_ID_KABKOTA:
                $("#filter_kabkota").parent().parent().show()
                generateDropdownKabKota({
                    selector: "#filter_kabkota", initialValue: initialValue.substring(0, 4), onChangeEvent: function (val) {
                        // getSelectedIdWilayah()
                        generateDropdownKecamatan({ selector: "#filter_kecamatan", parentValue: val, onComplete: () => { getSelectedIdWilayah() } })
                    }, initChild: true,
                })
            case LEN_ID_KECAMATAN:
                $("#filter_kecamatan").parent().parent().show()
                generateDropdownKecamatan({
                    selector: "#filter_kecamatan", initialValue: initialValue.substring(0, 7), onChangeEvent: function (val) {
                        // getSelectedIdWilayah()
                        generateDropdownDesa({ selector: "#filter_desa", parentValue: val, onComplete: () => { getSelectedIdWilayah() } })
                    }, initChild: true
                })
            case LEN_ID_DESA:
                $("#filter_desa").parent().parent().show()
                generateDropdownDesa({ selector: "#filter_desa", initialValue: initialValue.substring(0, 10), onChangeEvent: () => { getSelectedIdWilayah() } })



                break;

            default:
                break;
        }
    }


    function initCom() {
        $('#table-data-batas-desa').on('click', '.btnDeleteForm', function () {
            idd = $(this).attr('dataid');
            // console.log(idd);
        });
    }
    function  generateTableMonitoring() {
        // $("#table-data-batas-desa").DataTable().destroy()
        // $("#table-data-batas-desa").replaceWith(tblBatasdesa)
        let paramss = ""
        if (fSelectedIdWilayah.length != 0) paramss += "?id_wilayah=" + fSelectedIdWilayah;
        let showProv = showKabkot = showKec = true;
        switch (fSelectedIdWilayah.length) {
            case LEN_ID_DESA:
            case LEN_ID_KECAMATAN:
                showKec = false
            case LEN_ID_KABKOTA:
                showKabkot = false
            case LEN_ID_PROVINSI:
                showProv = false;
                break;

            default:
                break;
        }
		if (fSelectedIdWilayah.length == LEN_ID_DESA) {
			//alert('1');
			map.eachLayer(function (layer) {
				if (!!layer.toGeoJSON) {
					map.removeLayer(layer);
				  }
			});
			loadGeojson();
		}
       /* getTotal();
        generateDataTable('#table-data-batas-desa', "monitoring/klaimdesa/data" + paramss, [
            { "data": "provinsi", "visible": showProv },
            { "data": "kabkota", "visible": showKabkot },
            { "data": "kecamatan", "visible": showKec },
            { "data": "desa" },
            { "data": "jumlah", width: "100px" },
            { "data": "mainmap", width: "100px" }
        ], initCom, false)
		*/
    }

    async function getTotal() {
        let paramss = ""
        if (fSelectedIdWilayah.length != 0) paramss += "?id_wilayah=" + fSelectedIdWilayah;
        let url = "monitoring/klaimdesa/total" + paramss
        $.ajax({ url: url, method: "GET", success: function (res) { 
            let data = res.data;
            let {jumlah,main} =data;
            $("#num-klaim").html(jumlah)
            $("#num-mainmap").html(main)
         } })
    }

    viewData = function (obj) {
        let id = $(obj).attr("dataid")
        let idwilayah = $(obj).attr("dataidwilayah")
        // console.log(id,idwilayah)
        execURL("transaction/klaimbatasdesa/editor?id_wilayah=" + idwilayah + "&gid=" + id)
    }
    $(document).ready(function () {
        setFilter()
        $(".tp-enabled").tooltip('enable')
         
    })
	
var map

 var Esri_WorldImagery = L.esri.tiledMapLayer({
        url: 'https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer'
	   
       , minZoom: 1
	,maxZoom: 19
    })

    var layer_rbiesri = L.esri.tiledMapLayer({
        url: 'https://portal.ina-sdi.or.id/arcgis/rest/services/RBI/Basemap/MapServer',
        opacity: 1
    })
	
map = L.map('map', {
			layers: [Esri_WorldImagery],
			//pmIgnore: false,
		   // maxZoom: 17,
		   fullscreenControl: true,
		   fullscreenControlOptions: {
			   position: 'topleft'
		   }
		}).setView([-6.491857302, 106.848663298], 15);
setTimeout(function(){ map.invalidateSize()}, 400);

var simpleMapScreenshoter = L.simpleMapScreenshoter({
                hidden: true, // hide screen btn on map
            }).addTo(map)

 // listen on fired error or catch error in prev promise
            map.on('simpleMapScreenshoter.error', function (event) {
                var el = document.createElement('div')
                el.classList.add('create-screen-error')
                el.innerHTML = event.e.toString()
                document.getElementById('screens').appendChild(el)
            })

var bicycleRental = {}
loadGeojson = function(){
		 $.get("transaction/petadesa/geojson?id="+fSelectedIdWilayah, function(data, status){
			bicycleRental = data.data

			var testststs = L.geoJSON(bicycleRental, {

				style: function (feature) {
					//return feature.properties && feature.properties.style;
				},
			

				//onEachFeature: onEachFeature,
		
				pointToLayer: function (feature, latlng) {
					if (feature.properties && feature.properties.simpul == 2) {
						var marker = 
						 L.circleMarker(latlng, {					
							radius: 10,
							fillColor: "#ff7800",
							color: "#000",
							weight: 1,
							opacity: 1,
							fillOpacity: 0.8
							
						});
						
						return marker;
					} else if (feature.properties && feature.properties.simpul == 1) {
						var marker = 
						 L.circleMarker(latlng, {					
							radius: 10,
							fillColor: "#32CD32",
							color: "#000",
							weight: 1,
							opacity: 1,
							fillOpacity: 0.8
							
						});
						
						return marker;
					}
					
				}
				,onEachFeature: function (feature, layer) {
					map.addLayer(layer);
					if (feature.properties && feature.properties.x  && feature.properties.y ) {
						map.setView([feature.properties.y, feature.properties.x], 15)
					} 
					
					
				},
				
			})
			
		  });
		  
	}
	
	
	function testtt(){		
		
		var options = {
			folder: 'shapefile',
			types: {
				point: 'points',
				polygon: 'polygons',
				line: 'polylines'
			}
			
		}
		
		var d = new Date();
		var datestring = d.getFullYear()+ ("0"+(d.getMonth()+1)).slice(-2) + ("0" + d.getDate()).slice(-2)+("0" + d.getHours()).slice(-2) +  ("0" + d.getMinutes()).slice(-2);
		if ($('#filter_desa').val() != ""){
			var filename = ""
			filename = "Peta_Batas_Desa_"+$("#filter_desa :selected").text()+"_"+$('#filter_desa').val()+ datestring+".zip"
			downloadShp(bicycleRental, options,filename);
		}
		
		
		
		
	}

</script>