

<!-- Leaflet -->
    <link rel="stylesheet" href="static/leaflet/leaflet.css">
    <link rel="stylesheet" href="static/leaflet/plugin/leaflet-controllayerstree.css">
 <link rel="stylesheet" href="static/leaflet/plugin/leaflet-fullscreen.min.css">
<style>
    input.leaflet-control-layers-selector {
        opacity: 1 !important;
        position: static !important;
        left: 2px;
        margin-right: 4px;
    }
	
</style>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<div class="col-lg-12">

    <div class="card card-outline">
        <div class="card-header pb-0">
            <table>
                <tr>
                    <td style="width: 100%;">
                        <div id="title-map" style="display: none;">
                            <div class="font-weight-bold badge badge-danger">ID : #123123</div>

                        </div>

                        <span class="font-weight-bold">Gambar Peta Desa : <span
                                id="gambarDesa-NamaDesa">{{nama_wilayah}}</span>
                        </span>
                        <div>
                    </td>
					<!--
                    <td>
                        <table>
                            <tr>
                                <td>

                                    <button class="btn btn-info  tp-enabled mr-2 d-inline" data-toggle="tooltip"
                                        data-placement="top" title="Upload File"
                                        onclick="$('#modalPilihFile').modal('show')"><i class="mdi mdi-paperclip"></i>
                                    </button>
                                </td>
                                <td> <button id="{{id_button}}"
                                        class="btn btn-primary tp-enabled {{class_button}} d-inline"
                                        data-toggle="tooltip" data-placement="top" title="Simpan Data"
                                        onclick="$('#modalCUpload').modal('show')"><i
                                            class="mdi mdi-content-save"></i></button>

                                </td>
                            </tr>
                        </table>



                    </td>
					-->
                </tr>
            </table>


        </div>
        <div class="card-body">
			<div id="mapGambarBatasDesa" style="width: 100%;height: 60vh;"></div>
			<div style="width: 100%">
				<table  id="listsubsegmen"  class="table">	
					<thead>
						<tr><th colspan=2>List Sub Segmen</th></tr>
						<tr><th>Keterangan</th><th>TK Dari</th><th>TK Ke</th></tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
			<div style="width: 100%">
				<table  id="listTitikKartometri"  class="table">	
					<thead>
						<tr><th colspan=2>List Titik Kartometri</th></tr>
						<tr><th>Titik</th><th>No</th><th>Keterangan</th><th>Urutan</th></tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
            
        </div>
    </div>
    <div id="modalCUpload" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="topModalLabel">Konfirmasi</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <h5>Lanjutkan Menyimpan Data ?</h5>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Kembali</button>
                    <button type="button" class="btn btn-primary" onclick="saveData()">Ya</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <div id="modalPilihFile" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="topModalLabel">Upload File</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-0">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile01"
                                aria-describedby="inputGroupFileAddon01">
                            <label class="custom-file-label" for="inputGroupFile01">Pilih File</label>
                        </div>

                    </div>
                    <strong class="text-danger">* Dengan mengupload file akan menghapus data yang digambar
                        sebelumnya</strong>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Kembali</button>
                    <button type="button" class="btn btn-primary" onclick="processFile()">Lanjutkan</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
	
	
	
	 <div id="modalPilihtitik" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog " style="max-width: 1000px">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="topModalLabel">Form Titik Kartometri</h4>
                    
                </div>
                <div class="modal-body">
                    
                    <strong class="text-danger">* Tombol kembali akan menhapus titik sebelumnya</strong>
					<div class="form-group row s-filter">
						<label for="password_konfirmasi" class="col-sm-2 col-form-label">Sug Segmen (geojson)</label>
						<div class="col-sm-8" id="txtTitikkartometri" class="form-control">	
						</div>	

					
					</div>
					
					<div class="form-group row s-filter">
						<label for="password_konfirmasi" class="col-sm-2 col-form-label">Keterangan</label>
						<div class="col-sm-8">	
							<textarea id="txtKeterangan" class="form-control"></textarea>
						</div>						
					</div>
					
					<div class="form-group row s-filter">
						<label for="password_konfirmasi" class="col-sm-2 col-form-label">List Desa </label>
						<div class="col-sm-8" id="txtDesa">	
						</div>						
					</div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal" onclick="closeFormtitik()">Kembali</button>
                    <button type="button" class="btn btn-primary" onclick="processForm()">Lanjutkan</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
	
	
</div>


	

    <script src="static/leaflet/leaflet-src.js"></script>
   
		
    <script src="static/leaflet/plugin/leaflet-controllayerstree.js"></script>
    <script src="static/leaflet/plugin/leaflet-fullscreen.min.js"></script>
   
   
<script src="static/leaflet/esri-leaflet.js"></script>

    
    <script src="static/leaflet/draw/src/Leaflet.draw.js"></script>
    <script src="static/leaflet/draw/src/Leaflet.Draw.Event.js"></script>
    <link rel="stylesheet" href="static/leaflet/draw/src/leaflet.draw.css"/>

    <script src="static/leaflet/draw/src/Toolbar.js"></script>
    <script src="static/leaflet/draw/src/Tooltip.js"></script>

    <script src="static/leaflet/draw/src/ext/GeometryUtil.js"></script>
    <script src="static/leaflet/draw/src/ext/LatLngUtil.js"></script>
    <script src="static/leaflet/draw/src/ext/LineUtil.Intersect.js"></script>
    <script src="static/leaflet/draw/src/ext/Polygon.Intersect.js"></script>
    <script src="static/leaflet/draw/src/ext/Polyline.Intersect.js"></script>
    <script src="static/leaflet/draw/src/ext/TouchEvents.js"></script>

    <script src="static/leaflet/draw/src/draw/DrawToolbar.js"></script>
    <script src="static/leaflet/draw/src/draw/handler/Draw.Feature.js"></script>
    <script src="static/leaflet/draw/src/draw/handler/Draw.SimpleShape.js"></script>
    <script src="static/leaflet/draw/src/draw/handler/Draw.Polyline.js"></script>
    <script src="static/leaflet/draw/src/draw/handler/Draw.Marker.js"></script>
    <script src="static/leaflet/draw/src/draw/handler/Draw.Circle.js"></script>
    <script src="static/leaflet/draw/src/draw/handler/Draw.CircleMarker.js"></script>
    <script src="static/leaflet/draw/src/draw/handler/Draw.Polygon.js"></script>
    <script src="static/leaflet/draw/src/draw/handler/Draw.Rectangle.js"></script>


    <script src="static/leaflet/draw/src/edit/EditToolbar.js"></script>
    <script src="static/leaflet/draw/src/edit/handler/EditToolbar.Edit.js"></script>
    <script src="static/leaflet/draw/src/edit/handler/EditToolbar.Delete.js"></script>

    <script src="static/leaflet/draw/src/Control.Draw.js"></script>

    <script src="static/leaflet/draw/src/edit/handler/Edit.Poly.js"></script>
    <script src="static/leaflet/draw/src/edit/handler/Edit.SimpleShape.js"></script>
    <script src="static/leaflet/draw/src/edit/handler/Edit.Rectangle.js"></script>
    <script src="static/leaflet/draw/src/edit/handler/Edit.Marker.js"></script>
    <script src="static/leaflet/draw/src/edit/handler/Edit.CircleMarker.js"></script>
    <script src="static/leaflet/draw/src/edit/handler/Edit.Circle.js"></script>


<script>
var map

	var idDesa1 = "{{desa1}}";
	 
	 var idDesa2 = "{{desa2}}";
		var editorDesaIdWilayah = "{{id_wilayah}}";

	
	 var klaimidDesa1 = "{{klaimidDesa1}}";
	 
	 var klaimidDesa2 = "{{klaimidDesa2}}";

    // feature leaflet dara data json
    var datageo

    var Esri_WorldImagery = L.tileLayer('http://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
        attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, ' +
            'AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
    });

    var Esri_DarkGreyCanvas = L.tileLayer(
        "http://{s}.sm.mapstack.stamen.com/" +
        "(toner-lite,$fff[difference],$fff[@23],$fff[hsl-saturation@20])/" +
        "{z}/{x}/{y}.png",
        {
            attribution: 'Tiles &copy; Esri &mdash; Esri, DeLorme, NAVTEQ, TomTom, Intermap, iPC, USGS, FAO, ' +
                'NPS, NRCAN, GeoBase, Kadaster NL, Ordnance Survey, Esri Japan, METI, Esri China (Hong Kong), and the GIS User Community'
        }
    );

    var Apimaxbox = L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
        maxZoom: 18,
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
            'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        id: 'mapbox/light-v9',
        tileSize: 512,
        zoomOffset: -1
    });
   
   


    var layer_rbiesri = L.esri.tiledMapLayer({
        url: 'https://portal.ina-sdi.or.id/arcgis/rest/services/RBI/Basemap/MapServer',
        opacity: 1
    })
	
	
	var layer_indikatif = L.esri.dynamicMapLayer({
        url: 'https://geoservices.big.go.id/rbi/rest/services/BATASWILAYAH/Administrasi_AR_KelDesa_10K/MapServer',
        opacity: 1
    })

	


    var OpenStreetMap_Mapnik = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    });

    var layersTree = [
        {
            label: 'Base Map',
            children: [

                { label: 'RBI BIG - Esri', layer: layer_rbiesri },
				{ label: 'Satellite ESRI', layer: Esri_WorldImagery },
				{ label: 'Grey Canvas ESRI', layer: Esri_DarkGreyCanvas },
				{ label: 'Mapbox', layer: Apimaxbox },
					{ label: 'OpenStreetMap_Mapnik', layer: OpenStreetMap_Mapnik },
            ]
        }]

    map = L.map('mapGambarBatasDesa', {
        layers: [OpenStreetMap_Mapnik],
        //pmIgnore: false,
       // maxZoom: 17,
       // fullscreenControl: true,
       // fullscreenControlOptions: {
      //      position: 'topleft'
      //  }
    }).setView([-6.491857302, 106.848663298], 15);
	
	
	
	
		var overlayMaps = {
			//"Indikatif": layer_indikatif
			label: 'Indikatif',
            children: [
                { label: 'Indikatif', layer: layer_indikatif },
               
            ]
		};
		
		
		
    var ctr = L.control.layers.tree(layersTree, overlayMaps, {
        //namedToggle: true,
        selectorBack: false,
        closedSymbol: '&#8862; &#x1f5c0;',
        openedSymbol: '&#8863; &#x1f5c1;',
        // collapseAll: 'Collapse all',
        // expandAll: 'Expand all',
        collapsed: true,
    }).addTo(map)




var editableLayers = new L.FeatureGroup();
map.addLayer(editableLayers);



// define custom marker
var MyCustomMarker = L.Icon.extend({
  options: {
    shadowUrl: null,
    iconAnchor: new L.Point(12, 12),
    iconSize: new L.Point(24, 24),
    iconUrl: 'https://upload.wikimedia.org/wikipedia/commons/6/6b/Information_icon4_orange.svg'
  }
});


var drawPluginOptions = {
  position: 'topleft',
  draw: {

	circle: false,
	rectangle: false,
	polygon: false,
	polyline: false,
	circlemarker: false,
    marker: false,
  }
  ,
  edit: {
    featureGroup: editableLayers, //REQUIRED!!
    remove: false
  }
};


var drawControl = new L.Control.Draw(drawPluginOptions);
map.addControl(drawControl);

var geojsonPointCreated = {}
var layerCreated 
var arrayIddesatitikkartometri = []

var charGenerateNo = "" 


 map.on(L.Draw.Event.CREATED, function (event) {
        var layer = event.layer;
		var type = event.layerType;
		//console.log(event)
		//console.log(layer.getLatLngs())
		geojsonPointCreated = event.layer.toGeoJSON().geometry
		layerCreated = layer
		arrayIddesatitikkartometri = [] 		
		arrayIddesatitikkartometri.push(idDesa1)		
		arrayIddesatitikkartometri.push(idDesa2)
		$('#txtTitikkartometri').html(JSON.stringify(geojsonPointCreated))
		
		charGenerateNo = "TK " + idDesa1.substring(0,2) + "." + idDesa1.substring(2,4) + '.'+idDesa1.substring(4,6)+'.'+idDesa1.substring(6,10)+'-'+idDesa2.substring(4,6)+'.'+idDesa2.substring(6,10)
		$('#txtNo').html(charGenerateNo+"-000")
		$('#filter_kecamatan').val('')
		$('#filter_desa').html('');
		/*$('#txtDesa').html('')
		$('#txtDesa').append(klaimidDesa1Nama)
		$('#txtDesa').append("<br />"+klaimidDesa2Nama)
		*/
		$('#modalPilihtitik').show();
		
        editableLayers.addLayer(layer);
    });
map.on('draw:edited', function (e) {
         var layers = e.layers;
		 var datalayeredit = []
         layers.eachLayer(function (layer) {
			var aa = {'id':layer.feature.id,'datajson':JSON.stringify(layer.toGeoJSON().geometry)}
			//console.log(layer.feature.id)
             //do whatever you want; most likely save back to db
			 console.log(layer)
			 datalayeredit.push(aa);
         });
		 processFormE(datalayeredit)
     });
/*
map.on('draw:created', function(e) {
  var type = e.layerType,
    layer = e.layer;

  if (type === 'marker') {
    layer.bindPopup('A popup!');
  }

  //editableLayers.addTo(layer);
  console.log(layer)
});

*/
closeFormtitik = function(){
	 map.removeLayer(layerCreated)
	$('#modalPilihtitik').hide()
}

tambahListDesa = function(){
	if ($("#filter_desa").val() != ""){
	
		if(jQuery.inArray($("#filter_desa").val(), arrayIddesatitikkartometri) != -1) {
			//console.log('ada')
		} else {
			arrayIddesatitikkartometri.push($("#filter_desa").val())
			var aaa = $("#filter_desa").val()
			aaa = charGenerateNo +"-"+aaa.substring(4,6)+"."+aaa.substring(6,10)
			$('#txtNo').html(aaa+"-000")
			$('#txtDesa').append("<br />"+$("#filter_desa option:selected").text())
			
			//console.log(arrayIddesatitikkartometri)
		}
	}
}

function onMapClick1(e) {
  marker = new L.marker(e.latlng, {draggable:'true'});
  marker.on('dragend', function(event){
    var marker = event.target;
    var position = marker.getLatLng();
    marker.setLatLng(new L.LatLng(position.lat, position.lng),{draggable:'true'});
    map.panTo(new L.LatLng(position.lat, position.lng))
  });
  map.addLayer(marker);
};

	var klaimidDesa1Nama = ""
	var klaimidDesa2Nama = ""
	var arrayLayerTitikKartometri = []
	
	loadGeojson2 = function(){
		 $.get("transaction/setsubsegmen/geojson1", function(data, status){
			bicycleRental = data.data
			center = data.center
			klaimidDesa2Nama =  data.nama
			var testststs = L.geoJSON(bicycleRental, {
				style: function (feature) {
					 return { color: 'black' }
					//return feature.properties && feature.properties.style;
				},
				pointToLayer: function (feature, latlng) {
					
				}
				,onEachFeature: function (feature, layer) {
					
					var index1 = feature.properties.index
					layer.options.zIndex = 100;
				aa = "<table>"
					a1 = "<tr>"
					
					if (feature.properties && feature.properties.keterangan) {
						aa += "<tr><td>Keterangan</td><td>"+feature.properties.keterangan+"</td></tr>"
						a1 += "<td>"+feature.properties.keterangan+"</td>"
					}
					if (feature.properties && feature.properties.tk_dari) {
						aa += "<tr><td>TK Dari</td><td>"+feature.properties.tk_dari+"</td></tr>"
						a1 += "<td>"+feature.properties.tk_dari+"</td>"
					} 
					
					if (feature.properties && feature.properties.tk_ke) {
						aa += "<tr><td>TK Ke</td><td>"+feature.properties.tk_ke+"</td></tr>"
						a1 += "<td>"+feature.properties.tk_ke+"</td>"
					}
					a1 += "</tr>"
					$('#listsubsegmen > tbody').append(a1)
					//aa += "<tr><td></td><td><input type='button' value='Mulai Buat Sub Segmen' data-x='"+feature.properties.cx+"'  data-y='"+feature.properties.cy+"' onclick='startsubsegmen(this)' /></td></tr>"
					aa += "</table>"
					layer.bindPopup(aa,{ 'maxWidth': '1000'});
					layer.bringToFront()
					arrayLayerTitikKartometri[index1] = layer
					
					editableLayers.addLayer(layer);
					
				},
				
			})
			//editableLayers.addLayer(testststs);
			//map.addLayer(testststs);
			
		  });
		  
	}
	
	loadGeojson1 = function(){
		 $.get("transaction/settitikkartometri/geojson1?id1="+idDesa1+"&id2="+idDesa2, function(data, status){
			bicycleRental = data.data
			center = data.center
			klaimidDesa2Nama =  data.nama
			var testststs = L.geoJSON(bicycleRental, {

				style: function (feature) {
					//return feature.properties && feature.properties.style;
				},
			

				//onEachFeature: onEachFeature,
		
				pointToLayer: function (feature, latlng) {
					if (feature.properties && feature.properties.simpul == 2) {
						var marker = 
						 L.circleMarker(latlng, {					
							radius: 10,
							fillColor: "#ff7800",
							color: "#000",
							weight: 1,
							opacity: 1,
							fillOpacity: 0.8
							
						});
						
						return marker;
					} else {
						var marker = 
						 L.circleMarker(latlng, {					
							radius: 10,
							fillColor: "#32CD32",
							color: "#000",
							weight: 1,
							opacity: 1,
							fillOpacity: 0.8
							
						});
						
						return marker;
					}
					
				}
				,onEachFeature: function (feature, layer) {
					var index1 = feature.properties.index
					layer.options.zIndex = 100;
					aa = "<table>"
					a1 = "<tr>"
					if (feature.properties && feature.properties.simpul == 2) {
						aa += "<tr><td colspan=2>TITIK SIMPUL</td></tr>"
						a1 += "<td>TITIK SIMPUL</td>"
					} else {
						aa += "<tr><td colspan=2>TITIK KARTOMETRI</td></tr>"
						a1 += "<td>TITIK KARTOMETRI</td>"
					}
					if (feature.properties && feature.properties.no) {
						aa += "<tr><td>No</td><td>"+feature.properties.no+"</td></tr>"
						a1 += "<td><span data-index='"+index1+"' onclick='showTitikPopup(this)' style='text-decoration:underline;cursor:pointer'>"+feature.properties.no+"</span></td>"
					} 
					if (feature.properties && feature.properties.keterangan) {
						aa += "<tr><td>Keterangan</td><td>"+feature.properties.keterangan+"</td></tr>"
						a1 += "<td>"+feature.properties.keterangan+"</td>"
					}
					if (feature.properties && feature.properties.urut) {
						aa += "<tr><td>No Urut</td><td>"+feature.properties.urut+"</td></tr>"
						a1 += "<td>"+feature.properties.urut+"</td>"
					} else {
						a1 += "<td>0</td>"
					}
					if (feature.properties && feature.properties.geom) {
						aa += "<tr><td>Geojson</td><td>"+ JSON.stringify(feature.properties.geom)+"</td></tr>"
					}
					a1 += "</tr>"
					$('#listTitikKartometri > tbody').append(a1)
					aa += "<tr><td></td><td><input type='button' value='Mulai Buat Sub Segmen' data-x='"+feature.properties.cx+"'  data-y='"+feature.properties.cy+"' onclick='startsubsegmen(this)' /></td></tr>"
					aa += "</table>"
					layer.bindPopup(aa,{ 'maxWidth': '1000'});
					layer.bringToFront()
					arrayLayerTitikKartometri[index1] = layer
					map.addLayer(layer);
					
				},
				
			})
			//editableLayers.addLayer(testststs);
			//map.addLayer(testststs);
			loadGeojson2()
		  });
		  
	}

	loadGeojson = function(){	
		$(".tp-enabled").tooltip('enable')
		setTimeout(function(){ map.invalidateSize()}, 400);
		$('#txtDesa').html('')
		
		$('#txtUrut').on('change',function(){
			var urut = $('#txtUrut').val()
			urut = ('0000'+urut)
			urut = urut.substr(urut.length - 3);
			console.log(urut);
			$('#txtNo').html(charGenerateNo+'-'+urut);
		})
	
	
	
		  $.get("transaction/settitikkartometri/geojson?id1="+klaimidDesa1+"&id2="+klaimidDesa2, function(data, status){
			bicycleRental = data.data
			center = data.center
			klaimidDesa1Nama =  data.nama
			var testststs = L.geoJson(bicycleRental, {

				style: function (feature) {
					//return feature.properties && feature.properties.style;
				},
			

				//onEachFeature: onEachFeature,
		
				pointToLayer: function (feature, latlng) {
					
					return L.circleMarker(latlng, {
						radius: 3,
						fillColor: "#ff7800",
						color: "#000",
						weight: 1,
						opacity: 1,
						fillOpacity: 0.8
					});
				}
				,onEachFeature: function(feature, layer) {
					
					var label = L.marker(layer.getBounds().getCenter(), {
					  icon: L.divIcon({
						className: 'label',
						html: feature.properties.nama,
						iconSize: [100, 40]
					  })
					}).addTo(map);
					if ($('#txtDesa').html() != "")
						$('#txtDesa').append("<br />"+feature.properties.nama)
					else 
						$('#txtDesa').append(feature.properties.nama)
						
				  }
				
			})//.addTo(map);
			map.addLayer(testststs);
			//console.log(testststs.getBounds())
			
			center = center.replace("POINT(","").replace(")","")
			splitcenter = center.split(" ")
			
			map.setView([splitcenter[1], splitcenter[0]], 15)
			loadGeojson1()
		  });
		
		
		 
			
		  
	}
	
	function getSelecteddesa() {
       /* let selectorFilter = ["filter_desa", "filter_kecamatan", "filter_kabkota", "filter_provinsi"]
        let i = 0
        fSelectedIdWilayah = null
        while (fSelectedIdWilayah == null) {
            fSelectedIdWilayah = $("#" + selectorFilter[i]).val()
            // console.log(fSelectedIdWilayah, "#" + selectorFilter[i])
            i++
            if (i > selectorFilter.length ) {
                fSelectedIdWilayah = ""
            }

        }
        // console.log(aa++)
        if (fSelectedIdWilayah.length == 10) {
            $("#btnInsert").attr("disabled", false)
        } else {
            $("#btnInsert").attr("disabled", true)
        }*/
		//console.log('11')
       generateDropdownDesa({ selector: "#filter_desa", parentValue: $('#filter_kecamatan').val() })
    }
	
	
	$(document).ready(function() {
		loadGeojson();
		
		
    });
	processForm = function(){
		execData('transaction/setsubsegmen/crud',{
      'geom':$('#txtTitikkartometri').html(),      
      
      'keterangan': $('#txtKeterangan').val()
     
		})
		
	}
	processFormE = function(data){
		execData('transaction/setsubsegmen/crude',{     
      'listdesa': data
		})
		
	}
	
	showTitikPopup = function(a){
		var index = $(a).attr('data-index')
		arrayLayerTitikKartometri[index].openPopup();
	}
	
	startsubsegmen = function(a){
		var cx = $(a).attr('data-x')
		var cy = $(a).attr('data-y')
		
		var polylineDrawer = new L.Draw.Polyline(map, {})
		polylineDrawer.enable();

		var latlng = L.latLng(cy, cx);
		polylineDrawer.addVertex(latlng);
	}
	
	
</script>