<div class="col-12">{{alert}}
  <div class="card">

    <div class="card-body">
      <div class="form-group row">
        <label for="example-text-input" class="col-sm-2 col-form-label">Group</label>
        <div class="col-sm-10">
          <input class="form-control disabled" type="text" value="{{a_name_group}}" disabled>
        </div>
      </div>
      <div class="form-group row">
        <label for="example-text-input" class="col-sm-2 col-form-label">Wilayah</label>
        <div class="col-sm-10">
          <textarea class="form-control disabled" rows="2" disabled>{{a_wilayah}}</textarea>
        </div>
      </div>
      <div class="form-group row">
        <label for="example-text-input" class="col-sm-2 col-form-label">Username</label>
        <div class="col-sm-10">
          <input class="form-control disabled" type="text" value="{{a_username}}" disabled>
        </div>
      </div>
      <div class="form-group row">
        <label for="p-fullname" class="col-sm-2 col-form-label">Nama Pengguna</label>
        <div class="col-sm-10">
          <input id="p-fullname" name="p-fullname" class="form-control" type="text" value="{{a_fullname}}">
        </div>
      </div>
      <div class="form-group row">
        <label for="p-email" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input id="p-email" name="p-email" class="form-control" type="text" value="{{a_email}}">
        </div>
      </div>
      <div class="form-group row">
        <label for="p-mobile" class="col-sm-2 col-form-label">Nomor Telepon</label>
        <div class="col-sm-10">
          <input id="p-mobile" name="p-mobile" class="form-control" type="text" value="{{a_mobile}}">
        </div>
      </div>
      <div class="form-group row">
        <label for="p-address" class="col-sm-2 col-form-label">Alamat</label>
        <div class="col-sm-10">
          <textarea id="p-address" class="form-control " rows="2">{{a_address}}</textarea>
        </div>
      </div>
      <div class="form-group row el-desa">
        <label for="p-nm_kepala_desa" class="col-sm-2 col-form-label">Nama <span id="nama-jab-desa"></span></label>
        <div class="col-sm-10">
          <input id="p-nm_kepala_desa" name="p-nm_kepala_desa" class="form-control" type="text"
            value="{{a_nm_kepala_desa}}">
        </div>
      </div>
      <div class="form-group row el-desa">
        <label for="p-nm_kepala_camat" class="col-sm-2 col-form-label">Nama Camat</label>
        <div class="col-sm-10">
          <input id="p-nm_kepala_camat" name="p-nm_kepala_camat" class="form-control" type="text"
            value="{{a_nm_kepala_camat}}">
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-primary pull-right" onclick="submitFormP()">Simpan Perubahan</button>
    </div>
  </div>
</div>
<script>
  var userIdWilayah = "{{session['id_wilayah']}}"
  let idWilArr = userIdWilayah.split("");
  // console.log(idWilArr)
  var namaJab = "";
  // console.log(userIdWilayah)
  if (userIdWilayah.length != LEN_ID_DESA) {
    // set nama jab desa

    $(".el-desa").hide()
  } else {
    namaJab = (idWilArr[9] == 1) ? "Lurah" : "Kepala Desa";

    $("#nama-jab-desa").html(namaJab)
  }
  submitFormP = function () {
    var params = {
      'user_fullname': $('#p-fullname').val(),
      'user_email': $('#p-email').val(),
      'user_mobile': $('#p-mobile').val(),
      'user_address': $("#p-address").val(),
      'user_nm_kepala_desa': $('#p-nm_kepala_desa').val(),
      'user_nm_kepala_camat': $("#p-nm_kepala_camat").val()
    }
    // validasi
    // console.log(params)
    let errMsg = [];
    if (params.user_fullname.length == 0) {
      errMsg.push("Harap isi nama pengguna")
    }
    if (params.user_email.length == 0) {
      errMsg.push("Harap isi email")
    } if (params.user_mobile.length == 0) {
      errMsg.push("Harap isi nomor telepon")
    } if (params.user_fullname.length == 0) {
      errMsg.push("Harap isi alamat")
    }
    if (userIdWilayah.length == LEN_ID_DESA) {
      if (params.user_nm_kepala_desa.length == 0) {
        errMsg.push("Harap isi nama " +namaJab)
      }
      if (params.user_nm_kepala_camat.length == 0) {
        errMsg.push("Harap isi nama camat")
      }
    }
    if (errMsg.length == 0) {
      execData("/profil/", params,
        () => {

          window.location.reload()

        }
      )
    } else errMsg.forEach(msg => showNotificationParam("error", msg))

  }
</script>